@import '../../styles/var.scss';

.wrapper {
    background: $black;
    height: 1100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        padding-top: 100px;
        color: $white;
        font-style: italic;
        font-size: 300px;

        .biggest__span {
            font-weight: 700;
        }

        .big__span {
            font-weight: 600;
        }

        .small__span {
            font-weight: 400;
        }
    }
}

.info__text {
    color: $white;
    text-align: center;
    font-size: $semiBigFont;
    font-weight: 500;
    margin-top: 130px;
    max-width: 90%;

    span {
        text-decoration: underline;
        font-weight: 600;
    }
}

.contacts {
    font-size: $basicFont;
    color: $white;
    font-weight: 400;
    background-color: $gayblack;
    border: none;
    cursor: pointer;
    margin-top: 110px;
    padding: 20px 40px;
}

.infoblock__footer {
    margin-top: 230px;
    margin-bottom: 20px;
    color: $white;
    font-size: $basicFont;
    font-style: italic;

    span {
        font-weight: 600;
    }
    .underline_span {
        text-decoration: underline;
    }
}

@media screen and (max-width: 540px) {
    .wrapper {
        height: auto;
    }

    .container h1 {
        font-size: 140px;
        padding-top: 50px;
    }

    .info__text {
        margin-top: 90px;
        font-size: $smallFont;
        text-align: center;
    }
    
    .infoblock__footer {
        margin-top: 150px;
        font-size: $ultraSmallFont;
    }
}

@media screen and (min-width: 541px) and (max-width: 940px) {
    .container h1 {
        font-size: 200px;
    }
    .info__text {
        text-align: center;
    }
}


// Стилизация модального окна
.modal__window {
    background-color: $gayblack;
    height: 240px;
    width: 80%;
}

.modal__wrapper {
    color: $white;
    position: relative;

    .arrow {
        position: absolute;
        top: 40px;
        left: 20px;
        width: 45px;
        height: 45px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}

.modal__container {
    padding: 45px 100px;
}

.modal__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    h3 {
        margin-left: 10px;
        font-size: $basicFont;
        font-weight: 600;
    }
}

.email {
    font-size: $smallFont;
    margin-bottom: 40px;
}

.modal__link {
    font-size: $smallFont;

    a {
        color: #1665FF;
    }
}

@media screen and (max-width: 540px) {
    .modal__wrapper .arrow {
        top: 38px;
        width: 33px;
        height: 33px;
    }

    .modal__window {
        width: 100%;
    }

    .modal__container {
        padding: 35px 40px;
    }

    .modal__title {
        margin-left: 30px;

        h3 {
            font-size: $smallFont;
        }
    }

    .email,
    .modal__link {
        font-size: $ultraSmallFont;
    }
}