@import '../../styles/var.scss';

.wrapper {
    background: $black;
    height: 1100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        padding-top: 100px;
        color: $white;
        font-style: italic;
        font-size: 300px;

        .biggest__span {
            font-weight: 700;
        }

        .big__span {
            font-weight: 600;
        }

        .small__span {
            font-weight: 400;
        }
    }
}

.info__text {
    color: $white;
    text-align: center;
    font-size: $semiBigFont;
    font-weight: 500;
    margin-top: 130px;

    span {
        text-decoration: underline;
        font-weight: 600;
    }
}

.contacts {
    font-size: $basicFont;
    color: $white;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 110px;
    padding: 20px 40px;
}

.infoblock__footer {
    margin-top: 230px;
    margin-bottom: 20px;
    color: $white;
    font-size: $basicFont;
    font-style: italic;

    span {
        font-weight: 600;
    }
    .underline_span {
        text-decoration: underline;
    }
}

// Стилизация модального окна
.modal__window {
    background-color: $gayblack;
    height: 350px;
    width: 80%;
}

.modal__wrapper {
    color: $white;
    position: relative;

    .arrow {
        position: absolute;
        top: 40px;
        left: 20px;
        width: 45px;
        height: 45px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}

.modal__container {
    padding: 45px 100px;
}

.modal__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    h3 {
        margin-left: 10px;
        font-size: $basicFont;
        font-weight: 600;
    }
}

.email {
    font-size: $smallFont;
    margin-bottom: 40px;
}

.modal__link {
    font-size: $smallFont;

    a {
        color: #1665FF;
    }
}