@import '../../styles/var.scss';

.wrapper {
    background: $black;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        padding-top: 100px;
        color: $white;
        font-style: italic;
        font-size: 300px;

        .biggest__span {
            font-weight: 700;
        }

        .big__span {
            font-weight: 600;
        }

        .small__span {
            font-weight: 400;
        }
    }
}

.info__text {
    color: $white;
    text-align: center;
    font-size: $semiBigFont;
    font-weight: 500;
    margin-top: 130px;

    span {
        text-decoration: underline;
        font-weight: 600;
    }
}

.contacts {
    font-size: $basicFont;
    color: $white;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 110px;
    padding: 20px 40px;
}

.infoblock__footer {
    margin-top: 290px;
    color: $white;
    font-size: $basicFont;
    font-style: italic;

    span {
        font-weight: 600;
    }
    .underline_span {
        text-decoration: underline;
    }
}