@import '../../styles/var.scss';

@media screen and (max-width: 1430px) {
    .desktop {
        display: none;
    }
}

@media screen and (min-width: 1431px) {
    .mobile {
        display: none;
    }
}

.typeBtn {
    font-size: $basicFont;
    font-weight: 500;
    margin: 0 20px;
}

.selectedType {
    text-decoration: underline;
    font-weight: 600;
}