@import '../../styles/var.scss';

.container {
    background-color: $gayblack;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

button {
    background: none;
    color: $white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.typeBtn {
    font-size: $basicFont;
    font-weight: 600;
    margin: 0 20px;
}

.selectedType {
    text-decoration: underline;
}

// Переключение типа отображения 
.smallSquares__btn {
    height: 22px;
    width: auto;
    transition: all 0.3s;
}

.bigSquares__btn {
    height: 22px;
    width: auto;
    transform: scale(1.15);
    transition: all 0.3s;
}

.squareBig__btn {
    height: 24px;
    width: auto;
    transition: all 0.3s;
}

.squareSmall__btn {
    height: 24px;
    width: auto;
    transform: scale(0.6);
    transition: all 0.3s;
}