@import '../../styles/var.scss';

.container {
    background-color: $gayblack;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.toolbar__slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    div {
        display: flex;
        justify-content: space-around;
        margin: 0 10px;
        width: 170px;
    }
}

.typeBtn {
    font-size: 14px;
    font-weight: 500;
}

.right__arrow,
.left__arrow {
    cursor: pointer;
}

.right__arrow {
    transform: rotate(180deg);
}

@media screen and (min-width: 600px) and (max-width: 970px) {
    .typeBtn {
        font-size: $basicFont;
        font-weight: 500;
    }

    .toolbar__slider div {
        width: 290px;
    }
}