@import '../../styles/var.scss';

.container {
    background-color: $gayblack;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

button {
    background: none;
    color: $white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.typeBtn {
    font-size: $basicFont;
    font-weight: 500;
    margin: 0 15px;
}

@media screen and (min-width: 971px) and (max-width: 1150px) {
    .typeBtn {
        font-size: 14px;
        margin: 0 5px;
    }
}

@media screen and (min-width: 1151px) and (max-width: 1400px) {
    .typeBtn {
        font-size: $smallFont;
        margin: 0 5px;
    }
}

// @media screen and (min-width: 1px) and (max-width: 1500px) {
//     .typeBtn {
//         font-size: $ultraSmallFont;
//         margin: 0 7px;
//     }
// }