@import '../../styles/var.scss';

.container {
    background-color: $gayblack;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

button {
    background: none;
    color: $white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.typeBtn {
    font-size: $basicFont;
    font-weight: 500;
    margin: 0 20px;
}