@import '../../styles/var.scss';

.container {
    background-color: $black;
    color: $white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    p {
        font-weight: 300;
        font-size: $basicFont;
    }
}