@import '../../styles/var.scss';

.wrapper {
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 40px;
    height: 40px;
}

//Маленький внешний вид
.small__container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    border: 2.5px solid #FFF;

    .project__container {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: calc(50vw - 20px);
        max-width: 1200px;
        max-height: 650px;
        height: 46vh;
        border: 2.5px solid #FFF;

        &:hover {
            .content__position .description {
                transform: translateY(0px);
            }
            .content__position h2 {
                transform: translateY(-40px);
            }
        }

        .background__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .content__position {
            position: absolute;
            bottom: 15px;
            width: 95%;
            margin-left: 2.5%;
            z-index: 2;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            h2 {
                color: $white;
                font-weight: 600;
                font-size: $basicFont;
                transition: all 0.3s;
            }

            .description {
                color: $white;
                position: absolute;
                max-width: 80%;
                transform: translateY(90px);
                transition: all 0.3s;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .small__container {
        grid-template-columns: repeat(1, 2fr);

        .project__container {
            width: calc(100vw - 30px);

            .content__position {
                bottom: 5px;

                .description{
                    display: none;
                }

                h2 {
                    transition: none;
                }
            } 

            &:hover {
                .content__position h2 {
                    transform: translateY(0px);
                }
            }
        }
    }
}


//Крупный внешний вид
.big__container {
    display: flex;
    flex-direction: column;
    border-top: 2.5px solid #FFF;
    border-bottom: 2.5px solid #FFF;

    .project__container {
        display: flex;
        flex-direction: row;
        border-top: 2.5px solid #FFF;
        border-bottom: 2.5px solid #FFF;
        border-left: 5px solid #FFF;
        border-right: 5px solid #FFF;

        .background__img {
            width: 50%;
            height: 500px;
        }

        .content__position {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $black;
            width: 50%;
            padding-left: 30px;
            color: $white;

            h2 {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: $basicFont;
            }

            .description {
                font-size: $smallFont;
                max-width: 80%;
            }

            .arrow {
                position: absolute;
                bottom: 30px;
                right: 30px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .big__container {
        .project__container {
            .background__img {
                height: 200px;
            }

            .content__position {
                padding-left: 0;
                flex-direction: row;
                align-items: center;
        
                .description {
                    display: none;
                }

                h2 {
                    font-size: $smallFont;
                }
        
                .arrow {
                    position: initial;
                    width: 30px;
                    height: auto;
                    margin-bottom: 8px;
                    margin-left: 20px;
                }
            }
        }
    }
}


//Модальное окно
.modal__wrapper {
    width: 80vw;
    height: 100vh;
    background-color: $gayblack;
    color: $white;
}

.modal__container {
    display: flex;
    flex-direction: column;
}

.modal_img__container {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;

    img {
        height: 290px;
        width: auto;
        max-width: 100%;
    }
}

.modal__information {
    padding: 50px 120px;
    position: relative;

    .modal__arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50px;
        left: 50px;
        transform: rotate(180deg);
        cursor: pointer;
    }

    p {
        margin-top: 20px;
        margin-left: 45px;
        width: 70%;
    }
}

.modal__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-bottom: 50px;

    div {
        display: flex;
        align-items: center;

        h6 {
            font-size: $basicFont;
            margin-left: 10px;
        }
    }
}

.modal__link {
    width: 190px;
    height: 36px;
    border-radius: 5px;
    background: #115EFA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .modal__wrapper {
        width: 100vw;
    }

    .modal__information {
        padding: 30px 20px;

        .modal__arrow {
            width: 30px;
            height: auto;
            top: 35px;
            left: 20px;
        }
    
        p {
            margin-top: 15px;
            margin-left: 5px;
            width: 95%;
        }
    }

    .modal__title {
        margin-right: 20px;
        margin-bottom: 40px;
    
        div {
            margin-left: 40px;
    
            h6 {
                margin-left: 10px;
            }
        }
    }

    .modal__link {
        width: 115px;
        height: 35px;

        img {
            height: 22px;
            width: auto;
        }
    }
}